.bar-container{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
}

.active{
    display: block;
    transition: 1s all;
}

.hide{
    display: none;
}