.home-container{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 1200px;
    height: 620px;
    display: flex;
    align-items: flex-end;
    border: 1px solid black;    
}

.home{
    height: 80vh;
    width: 100%;
    position: relative;
}