.home-container{
    position: absolute;
    bottom: 10%;
    left: 5%;
    width: 840px;
    height: 420px;
    display: flex;
    align-items: flex-end; 
}
.code-container{
    position: absolute;
    top: 10%;
    right: 5%;
    width: 500px;
    height: 400px; 
}
.home{
    height: 79vh;
    width: 100%;
    position: relative;
}

.rowC{
    display:flex;
    flex-direction:row;
}

.file-upload{
    position: absolute;
    bottom: 2%;
    left: 5%;
}

.complexity-container{
    height: 50px;
    width: 500px;
    position: absolute;
    right: 5%;
    bottom: 12%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

